/*=========================================
        TECH SPHERE
=========================================*/

@keyframes rotateSphere{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}

@keyframes floatTech{

    0%{

        transform:translateY(0px);

    }

    50%{

        transform:translateY(-12px);

    }

    100%{

        transform:translateY(0px);

    }

}
@keyframes particleFloat{

    0%{

        transform:translateY(0);

        opacity:.3;

    }

    50%{

        transform:translateY(-40px);

        opacity:1;

    }

    100%{

        transform:translateY(0);

        opacity:.3;

    }

}