@media(max-width:1200px){

.skills-grid{

grid-template-columns:repeat(3,1fr);

}

}

@media(max-width:768px){

.skills-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:500px){

.skills-grid{

grid-template-columns:1fr;

}

}
@media(max-width:992px){

.projects-grid{

grid-template-columns:1fr;

}

}
@media(max-width:992px){

.github-container{

grid-template-columns:1fr;

}

}
@media(max-width:768px){

.achievement-grid{

grid-template-columns:1fr;

}
}
@media(max-width:992px){

.contact-container{

grid-template-columns:1fr;

}

.contact-form button{

width:100%;

}

}
@media(max-width:768px){

.footer-content{

flex-direction:column;

text-align:center;

}

.footer-center{

justify-content:center;

}

}